<div id="content-info">
    <div class="container_12">
        <div class="grid_12">
            <div class="grid_9 alpha">
                <div class="grid_12">
                    <div class="grid_5 alpha">
                        <div class="info-box">
                            <div class="title">
                                Kontakt</div>
                            <div class="content">
                                Tržište novca i<br />
                                kratkoročnih vrijednosnica d.d. u likvidaciji
                                <br />
                                <br />
                                Heinzelova 62a/III kat<br />
                                10000 Zagreb, Hrvatska
                            </div>
                        </div>
                    </div>
                    <div class="grid_7 omega">
                        <div class="contact">
                            <div>
                                <span class="tel"></span>+385 1 6009 860
                            </div>

                            <div class="mt">
                                <span class="mail"></span>@*<a href="mailto:info@trzistenovca.hr">info@trzistenovca.hr</a>*@
                                info@trzistenovca.hr</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid_3 omega">
                <div class="letter">
                </div>
            </div>
        </div>
    </div>
</div>
