                <ul id="top-nav">
                    <li>@Html.ActionLink("Početna", "Index")</li>
                    <li>@Html.ActionLink("Kontakt", "SysHtmlPage", new { sistemskaInstancaPodatakaId = 4 })</li>
                    <li>@Html.ActionLink("Konferencija", "HtmlPage", new { htmlPageId = 5 })</li>
                </ul>