@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic

                <ul id="top-nav">
                    <li>@Html.ActionLink("Aukcije", "Aukcija")</li>
                    <li>@Html.ActionLink("Korisne adrese", "SudionikList", new { sudionikGrupaId = (long)SudionikGrupaEnum.KorisneAdrese })</li>
                </ul>