html { background-image: none; }
body { background-position: center top; background-image: url('layout/ie6/BG_body.jpg'); background-repeat: no-repeat; }

div#navigation { background-position: center; background-image: url('layout/navigacija/pattern_nav.gif'); background-repeat: repeat-x; height: 77px; }
.nav-wrapper{margin-top:9.5px;}
div.main-navi-l { background-image: url('layout/navigacija/kraj_lijevi.png'); background-repeat: no-repeat; width:26px; height:77px; display:inline; }
div.main-navi-r { background-image: none; background-repeat: no-repeat; width:26px; height:77px; }
div#content{margin-top:-9px; border-width: 0px 1px 0px 1px;}

div#content-info { background-image: url('layout/ie6/kontakt_BG_1052_i_papir.jpg'); background-repeat: no-repeat; width:1052px; height:202px; margin: 0 auto; }
div#content-info .info-box { font-family: 'palatino Linotype'; }

div.participant-p1 { background-image: url('layout/ie6/participants/1.jpg'); }
div.participant-p2 { background-image: url('layout/ie6/participants/2.jpg'); }
div.participant-p3 { background-image: url('layout/ie6/participants/3.jpg'); }
div.participant-p4 { background-image: url('layout/ie6/participants/4.jpg'); }
div.participant-p5 { background-image: url('layout/ie6/participants/5.jpg'); }

a#logo { background: transparent url('layout/ie6/logo_03.jpg') no-repeat scroll 0 0; }

div.contact div.mt { margin-top:20px;}
div.contact span.tel { background-image: url('layout/ie6/tel.jpg'); }
div.contact span.fax { background-image: url('layout/ie6/fax.jpg'); }
div.contact span.mail { background-image: url('layout/ie6/mail.jpg'); }
span.logo-footer { background-image: url('layout/ie6/logo_footer.jpg'); }


div.letter { background-image: url('layout/ie6/pismo_slika_bez_sjene.jpg'); display:inline; }