@using NinjaSoftware.Api.Mvc

@{
    string title = "Aukcija trezorskih zapisa upload";
    ViewBag.Title = title;

    NsController nsController = (NsController)ViewContext.Controller;
}

<div class="content-box">
<h3>@title</h3>

    <div class="content">

<b>@nsController.ViewUserErrorMessage</b>

<form method="post" enctype="multipart/form-data">
Odaberite excel datoteku koja odgovara nazivu REZUL_dd_mm_gggg.xls ili REZUL_dd_mm_gggg.xlsx i nakon toga kliknite 'Pohrani'
<br />
<br />
    <input type="file" id="FileBlob" name="FileBlob" />
    <input type="submit" value="Pohrani" />
</form>

    </div>
</div>