@using NinjaSoftware.Api.Mvc

@{
    string title = "Učitavanje trgovanja iz SETT datoteke";
    ViewBag.Title = title;

    NsController nsController = (NsController)ViewContext.Controller;
}

<div class="content-box">
<h3>@title</h3>

    <div class="content">

<b>@nsController.ViewUserErrorMessage</b>

<form method="post" enctype="multipart/form-data">
    <input type="file" id="FileBlob" name="FileBlob" />
    <input type="submit" value="Pohrani" />
</form>

    </div>
</div>