<div class="table-fixed-m" style="font-size: 150%">
     <div class="raw">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="../../Content/layout/Trziste novca_banner.jpg" width="468" height="80" alt="" />
    <br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Prijava", "DocDownload", new { folderName = "201505", fileName = "PRIJAVNICA_2015.doc" }, new { style = "font-size: 150%;font-weight:bold;" })
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("O konferenciji", "PdfDownload", new { folderName = "201505", fileName = "O_konferenciji.pdf" }, new { style = "font-size: 150%" })
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Program", "PdfDownload", new { folderName = "201505", fileName = "PROGRAM_KONFERENCIJE.pdf" }, new { style = "font-size: 150%" })
</div>
</div>