<div class="table-fixed-m" style="font-size: 150%">
     <div class="raw">
     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <a href="/Home/HtmlPage?htmlPageId=569"><img src="../../Content/layout/banner.png" width="359" height="155" alt="" /></a>
    @*<br />
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Prijava", "DocDownload", new { folderName = "201805", fileName = "PRIJAVNICA.doc" }, new { style = "font-size: 150%;font-weight:bold;" })
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("O konferenciji", "PdfDownload", new { folderName = "201805", fileName = "KONFERENCIJA.pdf" }, new { style = "font-size: 150%" })
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Program", "PdfDownload", new { folderName = "201805", fileName = "PROGRAM_KONFERENCIJE.pdf" }, new { style = "font-size: 150%" })
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Rezervacija", "DocDownload", new { folderName = "201805", fileName = "REZERVACIJA.doc" }, new { style = "font-size: 150%;" })*@
</div>
</div>