@{
    string title = "Aukcije";
    ViewBag.Title = title;
}

<div class="content-header">
    <h1>
        @title</h1>
</div>
<div class="content-box"> 
    <h4>@Html.ActionLink("AUKCIJA TREZORSKIH ZAPISA MF-a", "AukcijaTrezorskihZapisa")</h4>
    <br />
    <h4>@Html.ActionLink("REPO AUKCIJA HNB-a", "RepoAukcija")</h4>
    <br />
</div>
