@model NinjaSoftware.TrzisteNovca.Models.Home.SudionikViewModel
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@using NinjaSoftware.TrzisteNovca.Models
@using NinjaSoftware.TrzisteNovca.CoolJ.DatabaseGeneric.BusinessLogic

@{
    string title = Model.SudionikGrupa.Name;
    ViewBag.Title = title;

    string participantClass;
    
    if ((Model.SudionikGrupa.SudionikGrupaId % 2) == 1)
    {
        participantClass = "participant-p3";
    }
    else
    {
        participantClass = "participant-p4";
    }
}
<div class="content-header">
    <h1>@title</h1>
</div>
<div class="@participantClass">
    <ul>
        @foreach (SudionikEntity item in Model.SudionikCollection)
        {
            <li><a target="_blank" href="@item.WebAdresa">@item.Naziv</a></li>
        }
    </ul>

    @if (Helper.GetIeVersion(Request) == 6 &&
        (Model.SudionikGrupa.SudionikGrupaId == (long)SudionikGrupaEnum.MirovinskiFondovi || Model.SudionikGrupa.SudionikGrupaId == (long)SudionikGrupaEnum.StambeneStedionice))
    { 
        <br /><br /><br /><br /><br /><br />
    }
    
</div>
