@model NinjaSoftware.TrzisteNovca.Models.Home.SudionikViewModel
@using NinjaSoftware.TrzisteNovca.CoolJ.EntityClasses
@{
    string title = Model.SudionikGrupa.Name;
    ViewBag.Title = title;
}
<div class="content-header">
<h1>Sudionici</h1>
    <h3>@title</h3>
</div>
<div class="participant-p1">
    <ul>
        @foreach (SudionikEntity item in Model.SudionikCollection)
        {
            <li><a target="_blank" href="@item.WebAdresa">@item.Naziv</a></li>
        }
    </ul>
</div>
